.about__employee-container:last-of-type {
  margin-bottom: 60px;
}
@media (min-width: 1024px) {

  .about__employee-container:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  .about__employee-container:nth-of-type(even) .paragraph {
    text-align: right;
  }
  .about__employee-container:nth-of-type(odd) .paragraph {
    text-align: left;
  }
}
