.about__heading {
  color: #152d41;
  font-size: 36px;
}
.offer__heading {
  color: var(--text-secondary);
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 40px;
  text-align: center;
}
.about__heading,
.offer__heading {
  align-self: center;
}
@media (min-width: 1024px) {
  .about__heading,
  .offer__heading {
    align-self: flex-start;
    margin: 0 40px 40px;
  }
  .offer__heading {
    display: block;
    font-size: 36px;
  }
}
