.footer {
  width: 100%;
  height: auto;
  color: var(--text-secondary);
  background-color: var(--navbar);
  padding: 15px 0;
}
.footer__paragraph {
  font-size: 17px;
  margin: 0;
  padding: 9px;
  text-align: center;
}
.footer--direction-and-justify {
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .footer--direction-and-justify {
    flex-direction: row;
    justify-content: space-between;
  }
}
