.bold {
  font-weight: 700;
}
.flex {
  display: flex;
}
.f-direction--column {
  flex-direction: column;
}
.f-w--wrap {
  flex-wrap: wrap;
}
.f--flow {
  flex-flow: column;
}
.j-c--center {
  justify-content: center;
}
.j-c--space-between {
  justify-content: space-between;
}
.a-i--center {
  align-items: center;
}
.h--fit-content {
  height: fit-content;
}
.text-a--justify {
  text-align: justify;
}
.container {
  width: 90%;
}
.link {
  text-decoration: none;
  color: var(--text-secondary);
}
.link:visited {
  color: var(--text-secondary);
}
.paragraph {
  font-size: 18px;
}
.span {
  display: block;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .container {
    width: 960px;
  }
  .j-c--flex-end {
    justify-content: flex-end;
  }
  .f-w--wrap {
    flex-wrap: nowrap;
  }
  .f--flow {
    flex-flow: row wrap;
  }
}
